{%extends 'main/base.html' %}
{%block title%} DashBoard{%endblock%}
{%load static%}
{%block content%}
<div class="sidebar">
  <img class="side-logo" src="{%static 'images/logo.png' %}"></img>
  <div class="side-list">
    <div class="side-item">
      <div class="side-inner">
        <img class="side-icon" src="{%static 'images/main.png' %}"/>
      <a class="side-text" href="{%url 'admin_home' %}" >Main page</a>
      </div>
      
    </div>
    <div class="side-item">
      <div class="side-inner">
        <img class="side-icon" src="{%static 'images/docs.png' %}"/>
        <a class="side-text" href="{%url 'active_acts' %}" >Active acts</a>
      </div>
     
    </div>
    <div class="side-item">
      <div class="side-inner">
        <img class="side-icon" src="{%static 'images/lock.png' %}"/>
        <a class="side-text" href="{%url 'closed_acts' %}" >Closed acts</a>
      </div>
      
    </div>

	<div class="side-item active">
		<div class="side-inner active">
		  <img class="side-icon" src="{%static 'images/lock.png' %}"/>
		  <a class="side-text" href="{%url 'request_register_screen' %}" >Registers/Users</a>
		</div>
		
	  </div>
  </div>
</div>
<div class="header-admin">
	<div class="header-info">
	   
	  <div class="header-text">
		<div class="header-user">{{request.user}}</div>
		<div class="header-role">администратор</div>
	  </div>
	  <a href="{%url 'logout'%}" class="header-logout"><img src="{%static 'images/logout.png' %}" alt=""></a>
	  
  
	</div>
  </div>
<div class="active-act-page">
	<div class="active-act-title">Monitor request on users</div>

	<table class="active-act-table">
		<tr>
			<th style="border-top-left-radius: 10px;">User</th>
			
			<th>Password</th>
			<th  >IP</th>
			<th  >email</th>
			<th style="border-top-right-radius: 10px;" >action</th>
		</tr>
		<div class="acts_acting_admin_wrapper">

    
		{%for user in users%}
		<tr>
			
			<td>{{user.username}}</td>
			<td>{{user.password_look}}</td>
			<td>{{user.ip_adress}}</td>
			<td >{{user.email}}</th>
			<td><a class="accept-link" href="{%url 'accept_user_admin' user.id%}" style="color: green;">accept</a>   <a class="decline-link" href="{%url 'decline_user_admin' user.id%}" style="color: red;">decline</a></td>
			
		  </tr>
		{%endfor%}
  </div>
	</table>

	
</div>

{%endblock%}